body {
    background-color: #6accba;
   
}

#heartburn-checker-app {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    border-bottom: #6accba 1px solid;
    font-family: 'Montserrat';
    font-weight: 400;
}

.question-area {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.question-area .heartburn-question {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttons {
    width: 100%;
    padding: 100px 0 0 0;
}

span.question {
    font-weight:900;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
}
span.button {
    font-size: 1.0rem;
}
span.button.next {
    width: 100%;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
    align-content: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: black;
    width: 300px;
    height: 500px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
